# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Packages/com.unity.package-manager/manifest.json

# Archivos de cache
.sysinfo
*.stackdump

# VS / Rider
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# Archivos del sistema
.DS_Store
Thumbs.db